<div class='container card imagen'>
  <form class="formulario" action=''>
    <div class="text-center p-1">
      <h1>¡Registrate!</h1>

    </div>


    <div class='contenedor' id='datos'>
      <div class='input-contenedor'>
        <i class="fas fa-user icon"></i>
        <input id='nameRegistertecler' type="text" placeholder="Nombre(s)" name='name'>
      </div>


      <div class='input-contenedor'>
        <i class="fas fa-user icon"></i>
        <input name='username' id='usernameRegistertecler' type="text" placeholder="Nombre de usuario">
      </div>

      <div class='input-contenedor'>
        <i class="fas fa-envelope icon"></i>
        <input name='mail' id='mailRegistertecler' type="text" placeholder="Correo Electronico">
      </div>

      <div class='input-contenedor'>
        <i class="fas fa-key icon"></i>
        <input name='password' id='passwordRegistertecler' type="password" placeholder="Contraseña">
      </div>




      <div class='p-5'>
        <button class='button' id='acceptRegisterButtonTecler'>Registrate</button>
      </div>


      <p>Al ingresar, aceptas los términos y condiciones.</p>
      <p>¿Ya tienes una cuenta? <a class="link" href="/login/"> Inicia sesión</a></p>

    </div>

  </form>
</div>

<script src="../public/js/validation.signin.js"></script>
<script src="../public//js/validaciones.js"></script>
<script src="../public/js/signin.js"></script>